SECRET_KEY=django-secret-key
DEBUG_KEY=True
ALLOWED_HOSTS=127.0.0.1,localhost

DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=localhost
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=hotel-booking
DATABASE_USERNAME=admin
DATABASE_PASSWORD=12345
DATABASE_HOST=db
DATABASE_PORT=5432